# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# Eclipse specific files
Debug/*
Default/*
.cproject
.project

# Performance stats
gmon.out

# Manually edited files
*~

# Executable files
FeatureExtractSelect/FeatureExtractSelect
GeomVerify/GeomVerify
PerfEval/PerfEval
